[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Bullet Dice
Exec=/opt/usr/bin/bulletdice
Icon=bulletdice_80x80
StartupWMClass=
X-Window-Icon=bulletdice
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false
